<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.today.house.service.UserMapper">
   	
   	<select id="user_login" resultType="UserVO">
   	select * from user where user_id = #{user_id} and user_pw = #{user_pw}
   	</select>
   	
   	
   	<!-- 회원가입 -->
     <insert id="user_regist_form">
        insert into user (user_id, user_pw, user_email) 
        values (#{user_id}, #{user_pw}, #{user_email})
     </insert>
  
  
  
  
  
  </mapper>
